.preview-wrapper{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,.65);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .preview-img{

    }
    .preview-count-box{
        color: #fff;
        width: 200px;
        height: 50px;
        display: flex;
        font-size: 14px;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
    }
    .img-pre{
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
    }
    .img-next{
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
    }
    .preview-tool{
        height: 40px;
        width: 40px;
        border-radius: 2px;
        overflow: hidden;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        .close:hover{
            transition: all .3s;
            transform: rotate(180deg);
        }
        &:hover{
            background: rgba(0,0,0,.65);
        }
        a{
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FFF;
        }
    }
    .disabled{
        cursor: not-allowed;
        filter: brightness(0.4);
        &:hover{
            background: none;
        }
    }
    .preview-close{
        position: absolute;
        top: 5%;
        right: 5%;
    }
    .preview-tool-bar{
        min-height: 300px;
        width: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        bottom: 5%;
        right: 5%;
    }
}